*{
    margin: 0;
    border: 0;
    padding: 0;
}


.head-wrapper{
    text-align: center;
    font-size: 1.5em;
}


.mid-wrapper{
    text-align: center;
}


input[type=text], select{
        width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 40%;
    font-size: 1.2em;
    font-weight: bold;
}

input[type=button], select{
        background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    font-size: 1.2em;
    color: black;
}
